.impresa-331 .annfu_annuncio_wrapper {
    border: 0;
}

.impresa-331 .annfu_annuncio {
    padding: 0;
}

.impresa-331 .annfu_annuncio_paese {
    margin-bottom: 1em;
}

.impresa-331 .annfu_annuncio_foto img {
    margin: 0;
}

.impresa-331 h2.annfu_annuncio_nominativo {
    font-size: 3em;
}

.impresa-331 .annfu_casa_funeraria_wrapper,
.impresa-331 .annfu_riposo_wrapper {
    background: #3c3c3c;
}

.impresa-331 .annfu_casa_funeraria_wrapper *,
.impresa-331 .annfu_riposo_wrapper * {
    color: #fff;
}

.impresa-331 .annfu_casa_funeraria_wrapper:hover,
.impresa-331 .annfu_riposo_wrapper:hover {
    background: #5c3260;
}

.impresa-331 .annfu_riposo_wrapper i {
    font-size: 1.5rem;
}

.impresa-331 .annfu_box_info_wrapper > div {
    background: #f9f9f9;
    font-size: 1rem;
}

.impresa-331 .annfu_box_info_wrapper > div:hover {
    box-shadow: 0 0 56px 0 rgba(0, 0, 0, .2);
}

.impresa-331 i.far,
.impresa-331 i.fas {
    min-width: 1.5em;
}

.impresa-331 .annfu_casa_funeraria_wrapper.stanza-1,
.impresa-331 .annfu_casa_funeraria_wrapper.stanza-22 {
    background: #eecdde;
}

.impresa-331 .annfu_casa_funeraria_wrapper.stanza-23 {
    background: #a1cbb1;
}

.impresa-331 .annfu_casa_funeraria_wrapper.stanza-24 {
    background: #cddeee;
}

.impresa-331 .annfu_casa_funeraria_wrapper.stanza-34 {
    background: #b2b2b2;
}

.impresa-331 .annfu_casa_funeraria_wrapper.stanza-34 h5 {
    color: #333;
}

.impresa-331 .annfu_casa_funeraria_wrapper img {
    width: 2.5rem;
    margin: 0 1rem 0 0;
}

.impresa-331 .annfu_annuncio_onoranza_funebre {
    background: #f9f9f9;
    font-size: 1rem;
}

.impresa-331 .annfu_annuncio_anni {
    max-width: 300px;
    background: #5c3260;
    color: #fff;
}

.impresa-331 .annfu_buttons_wrapper {
    max-width: 420px;
}

.impresa-331 .annfu_buttons_wrapper a {
    text-align: left;
}

.impresa-331 .annfu_vai_a_form_cordogli,
.impresa-331 .annfu_annuncio_streaming_avviso a.btn {
    color: #707070;
    border: 2px solid #707070;
}

.impresa-331 .annfu_open_tab_fiori {
    border-color: #78a176;
    color: #78a176;
}

.impresa-331 .annfu_vai_a_form_cordogli:hover,
.impresa-331 .annfu_annuncio_streaming_avviso a.btn:hover {
    color: #b2b2b2;
    background: #fff;
    border: 2px solid #b2b2b2;
}

.impresa-331 .annfu_open_tab_fiori:hover {
    border-color: #96c793;
    color: #96c793;
}

.impresa-331 .annfu_annuncio_streaming_avviso .streaming-play-icon {
    color: #3c3c3c;
    border: 2px solid #3c3c3c;
}

.impresa-331 .annfu_annuncio_streaming_avviso a:hover .streaming-play-icon {
    background: #b2b2b2;
    border: 2px solid #b2b2b2;
}

.impresa-331 .annfu_annuncio_anni,
.impresa-331 .annfu_riposo_wrapper:hover {
    background: #b2b2b2;
}

.impresa-331 .annfu_fiore {
    height: auto;
    margin-bottom: 0;
}

.impresa-331 .annfu_fiore.checked {
    background: #d2d2d2;
    border-radius: 5px;
}

.impresa-331 .annfu_fiore.checked:after {
    top: 10%;
}

.impresa-331 .annfu_fiore input {
    display: none;
}

.impresa-331 .annfu_fiore_img_wrapper {
    float: none;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.impresa-331 .annfu_fiore_dettagli {
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    background: rgba(255, 255, 255, .75);
    color: #000;
    text-align: center;
    cursor: pointer;
}

.impresa-331 .annfu_fiore_img_wrapper:hover .annfu_fiore_dettagli {
    display: block;
    text-decoration: none;
}

.impresa-331 .annfu_fiore_prezzo {
    color: #3c3c3c;
}

.impresa-331 .annfu_fiore_scegli {
    display: inline;
    /*padding: .25rem 1rem;*/
    /*background: #3c3c3c;*/
    color: #fff;
    border-radius: 10px;
}

.impresa-331 .annfu_invio {
    width: auto;
}

.impresa-331 .annfu_fiori_totale {
    color: #3c3c3c;
    font-size: 100%;
}

.impresa-331 .annfu_totale_fiore,
.impresa-331 .annfu_totale_testo_fascia,
.impresa-331 .annfu_totale_testo_biglietto,
.impresa-331 .annfu_totale_dati {
    display: none;
}

.impresa-331 #annfu_paga .annfu_totale_fiore,
.impresa-331 #annfu_paga .annfu_totale_testo_fascia,
.impresa-331 #annfu_paga .annfu_totale_testo_biglietto,
.impresa-331 #annfu_paga .annfu_totale_dati {
    display: block;
}

.impresa-331 #annfu_paga .annfu_totale_fiore img {
    width: auto;
    height: 250px;
}

.impresa-331 .annfu_fiore.checked .annfu_fiore_img_wrapper,
.impresa-331 .annfu_ricordo_floreale.checked .annfu_ricordo_floreale_img_wrapper {
    border: 2px solid #d2d2d2;
}

.impresa-331 .annfu_ricordo_floreale {
    height: auto;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 5px;
}

.impresa-331 .annfu_ricordo_floreale:hover {
    background: #efefef;
}

.impresa-331 .annfu_ricordo_floreale.checked {
    background: #3c3c3c;
}

.impresa-331 .annfu_ricordo_floreale.checked h5,
.impresa-331 .annfu_ricordo_floreale.checked strong {
    color: #fff;
}

.impresa-331 .annfu_ricordo_floreale.checked a,
.impresa-331 .annfu_ricordo_floreale.checked a i {
    color: #3c3c3c;
}

.impresa-331 .annfu_ricordo_floreale.checked:after {
    top: 10%;
}

.impresa-331 .annfu_ricordo_floreale label {
    width: 100%;
    cursor: pointer;
}


.impresa-331 .annfu_ricordo_floreale input {
    display: none;
}

.impresa-331 .annfu_ricordo_floreale_img_wrapper {
    float: none;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.impresa-331 .annfu_ricordo_floreale_dettagli {
    display: none !important;
    width: 100%;
    height: 100%;
    padding-top: 50%;
    background: rgba(255, 255, 255, .75);
    color: #000;
    text-align: center;
}

.impresa-331 .annfu_ricordo_floreale_img_wrapper:hover .annfu_ricordo_floreale_dettagli {
    display: block !important;
    text-decoration: none;
}

.impresa-331 .annfu_ricordo_floreale_prezzo {
    color: #3c3c3c;
}

/*.impresa-331 .annfu_ricordo_floreale_scegli {*/
/*    display: inline;*/
/*    padding: .25rem 1rem;*/
/*    background: #3c3c3c;*/
/*    color: #fff;*/
/*    border-radius: 10px;*/
/*}*/

.impresa-331 .annfu_riepilogo_ricordo_floreale_totale {
    color: #3c3c3c;
    font-size: 100%;
}

.impresa-331 .annfu_riepilogo_ricordo_floreale_totale_ordine {
    font-weight: bold;
}

.impresa-331 .annfu_riepilogo_ricordo_floreale_composizione,
.impresa-331 .annfu_riepilogo_ricordo_floreale_biglietto,
.impresa-331 .annfu_riepilogo_ricordo_floreale_dati {
    display: none;
}

.impresa-331 #annfu_ricordo_floreale_paga div {
    display: block;
}

.impresa-331 #annfu_ricordo_floreale_paga img {
    width: auto;
    height: 250px;
}