.annfu input[type="text"],
.annfu input[type="password"],
.annfu input[type="search"],
.annfu input[type="email"],
.annfu input[type="url"],
.annfu input[type="tel"],
.annfu input[type="number"],
.annfu input[type="range"],
.annfu input[type="date"],
.annfu textarea {
    max-width: 100%;
}

.annfu .mt-1{
    margin-top: .25rem;
}
.annfu .mt-2{
    margin-top: .5rem;
}
.annfu .mt-3{
    margin-top: 1rem;
}
.annfu .mt-4{
    margin-top: 2rem;
}
.annfu .mt-5{
    margin-top: 3rem;
}
.annfu .mb-1{
    margin-bottom: .25rem;
}
.annfu .mb-2{
    margin-bottom: .5rem;
}
.annfu .mb-3{
    margin-bottom: 1rem;
}
.annfu .mb-4{
    margin-bottom: 2rem;
}
.annfu .mb-5{
    margin-bottom: 3rem;
}
.annfu .my-1{
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.annfu .my-2{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.annfu .my-3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.annfu .my-4{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.annfu .my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.annfu .mr-3{
    margin-right: 1rem;
}

.annfu_annuncio_foto img {
    margin: 0 auto 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: .3rem;
}

.annfu_epigrafe_thumb{
    max-width:100% !important;
    height:auto;
    border-radius: .3rem;
}

.annfu_annuncio h5.bordered {
    border-bottom: 1px solid #ddd;
}

#annfu_form_cordoglio_wrapper{
    max-width: 1000px;
    margin:0 auto;
}