.impresa-210 input[type="text"],
.impresa-210 input[type="password"],
.impresa-210 input[type="search"],
.impresa-210 input[type="email"],
.impresa-210 input[type="url"],
.impresa-210 input[type="tel"],
.impresa-210 input[type="number"],
.impresa-210 input[type="range"],
.impresa-210 input[type="date"],
.impresa-210 textarea {
    height: auto !important;
    max-width: 100%;
    padding: 16px !important;
    border: 0 !important;
    background: rgba(238, 238, 238, 0.8) !important;
    font-size: 14px;
}

.impresa-210 #annfu_tabs li {
    width: 100%;
    text-align: center;
}

.impresa-210 #annfu_tabs li a {
    background: rgba(238, 238, 238, 0.8);
}

.impresa-210 #annfu_tabs li a.active {
    background: #fff;
}

.impresa-210 .tab-content {
    padding: 15px;
    border: 1px solid #dee2e6;
    border-top: 0;
    background: #fff;
}

.impresa-210 .tab-pane {
    margin-top: 0;
}

.impresa-210 .annfu_fiore_prezzo, .impresa-210 .annfu_ricordo_floreale_prezzo,
.impresa-210 .annfu_fiori_totale, .impresa-210 .annfu_riepilogo_ricordo_floreale_totale{
    color: #197bbb;
}

.impresa-210 .annfu_fiore:hover,
.impresa-210 .annfu_ricordo_floreale:hover {
    background: #efefef;
}

.impresa-210 .annfu_fiore.checked,
.impresa-210 .annfu_ricordo_floreale.checked {
    background: #197bbb;
}

.impresa-210 .annfu_ricordo_floreale.checked a,
.impresa-210 .annfu_ricordo_floreale.checked a i {
    color: #197bbb;
}

.impresa-210 .annfu_fiore.checked:after,
.impresa-210 .annfu_ricordo_floreale.checked:after {
    color: #197bbb;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .impresa-210 #annfu_tabs li {
        width: auto;
        margin-right: 5px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .impresa-210 #annfu_tabs li {
        width: 24%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}