.impresa-378 .annfu_button_actions a.btn{
    display: block;
    color: #fff;
    background: #772a39;
    border-radius: 0;
}

.impresa-378 .annfu_button_actions .annfu_social i{
    border-radius: 0;
}