/*sovrasrcrivo default bootstrap*/
html {
    font-size: 100%;
}

body.wp-admin {
    background: transparent;
    color: #444;
    font-family: "Open Sans", sans-serif;
}

.nav-tabs > li.active > a {
    border-bottom: 1px solid transparent !important;
    background: #fff !important;
}

.nav-tabs > li > a {
    border: 1px solid #ddd !important;
}

.modal-backdrop {
    z-index: 998;
}

.annfu_none {
    display: none;
}

.annfu a {
    white-space: normal;
}

.annfu .disabled {
    cursor: not-allowed;
}

/*annunci\ricerca*/
.annfu_annunci_filter_front .back {
    display: none;
}

.annfu_annunci_filter_back .front {
    display: none;
}

.annfu_annunci_filter_back .row div {
    margin-bottom: .5em;
}

.front, .back {
    background: #fff;
}

.annfu_annunci_filter form {
    padding: 1em;
}

.annfu_annunci_filter select {
    width: 100%;
    padding: 0 10px;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
}

.annfu_annunci_filter select option {
    color: #666;
}

.annfu_annunci_filter .select2-container {
    width: 100% !important;
}

.annfu_annunci_filter .select2-container .select2-selection--single {
    height: 35px;
}

.annfu_annunci_filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 3px;
    color: #999;
    font-size: 99%;
    line-height: 35px;
}

.annfu_annunci_filter .select2-selection__arrow {
    height: 33px;
}

.annfu_annunci_filter .select2-container--open {
    z-index: 99999;
}

.annfu_annunci_filter .annfu_filter_button {
    display: inline-block;
    padding: 6px 0;
}

.annfu_annunci_filter #annfu_show_all {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #333;
}

/*annunci*/
#annfu_annunci {
    position: relative;
    margin-top: 10px;
    padding: 0 15px;
    border: 1px solid #f2f2f2;
    background: #fafafa;
}

.annfu_annunci_no_results {
    padding: 15px 20px;
}

.annfu_annunci_container {
    padding: 15px 20px;
    text-align: center;
}

.annfu_annunci_wrapper {
    position: relative;
    border: 1px solid #f6f6f6;
    background: #fff;
}

.annfu_annunci_wrapper:hover {
    border: 1px solid #111;
    background: #616161;
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.annfu_annunci_wrapper img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.annfu_annunci_wrapper:hover img, .annfu_annunci_wrapper img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}

.annfu_ribbon_anniversario_wrapper {
    position: absolute;
    top: -5px;
    right: -4px;
    width: 85px;
    height: 88px;
    overflow: hidden;
}

.annfu_ribbon_anniversario {
    position: relative;
    top: 15px;
    left: -5px;
    width: 120px;
    padding: 7px 0;
    color: #fff;
    font-size: .9em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background-color: #616161;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#c2c2c2));
    background-image: -webkit-linear-gradient(top, #eeeeee, #c2c2c2);
    background-image: -moz-linear-gradient(top, #eeeeee, #c2c2c2);
    background-image: -ms-linear-gradient(top, #eeeeee, #c2c2c2);
    background-image: -o-linear-gradient(top, #eeeeee, #c2c2c2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.annfu_ribbon_anniversario:before, .annfu_ribbon_anniversario:after {
    position: absolute;
    bottom: -3px;
    border-top: 3px solid #afafaf;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    content: "";
}

.annfu_ribbon_anniversario:before {
    left: 0;
}

.annfu_ribbon_anniversario:after {
    right: 0;
}

.annfu_ribbon_ringraziamento_wrapper {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 85px;
    height: 88px;
    overflow: hidden;
}

.annfu_ribbon_ringraziamento {
    position: relative;
    top: 15px;
    left: -30px;
    width: 120px;
    padding: 7px 0;
    color: #000;
    font-size: .75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    background-color: #616161;
    background-image: -webkit-linear-gradient(top, #eeeeee, #c2c2c2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#c2c2c2));
    background-image: -moz-linear-gradient(top, #eeeeee, #c2c2c2);
    background-image: -ms-linear-gradient(top, #eeeeee, #c2c2c2);
    background-image: -o-linear-gradient(top, #eeeeee, #c2c2c2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.annfu_ribbon_ringraziamento:before, .annfu_ribbon_ringraziamento:after {
    position: absolute;
    bottom: -3px;
    border-top: 3px solid #afafaf;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    content: "";
}

.annfu_ribbon_ringraziamento:before {
    right: 0;
}

.annfu_ribbon_ringraziamento:after {
    left: 0;
}

h2.annfu_annunci_nominativo {
    height: 3.5em;
    margin: .5em 0;
    font-size: 1.1em;
    text-transform: uppercase;
}

.annfu_annuncio_data_morte {
    display: none;
}

.annfu_annunci_anni {
    display: block;
    margin: .5em 0 .8em;
    font-weight: bold;
}

.annfu_annunci_paese {
    min-height: 5em;
    margin: 0 .8em;
    padding: .5em 0;
    border-top: 1px solid #d2d2d2;
    font-size: 80%;
    text-transform: uppercase;
}

.annfu_annunci_casa_funeraria {
    font-size: 80%;
    color: #fff;
    background: #616161;
}

.annfu_annunci_casa_funeraria_no {
    font-size: 80%;
    display: none;
}

.annfu_annunci_onoranza {
    padding: 2px 0;
    background: #333333;
    color: #fff;
}

.annfu_annunci_onoranza a {
    color: #fff;
}

.annfu_add_cordoglio {
    display: none;
}

.annfu_annunci_wrapper:hover .annfu_add_cordoglio {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5em;
    background: #fff;
}

.annfu_pagination_container {
    clear: both;
    margin: 1em 0;
}

.annfu_pagination {
    float: right;
    margin: 0;
}

.annfu_nb_results {
    float: left;
}

/*annuncio*/
#annfu_regione_provincia_comune {
    margin-bottom: 1em;
}

.annfu_annuncio_wrapper {
    border: 5px solid #d2d2d2;
}

.annfu_annuncio {
    padding: 1em;
}

.annfu_annuncio img {
    margin: 1em auto;
}

.annfu_annuncio h2 {
    margin: 0.5em 0;
}

.annfu_annuncio_testo {
    margin: 2em 0;
}

.annfu_annuncio_paese, .annfu_annuncio_onoranza_funebre {
}

.annfu_annuncio_streaming_avviso {
    margin: 1em 0 2em;
    color: #f00;
}

.annfu_annuncio_streaming_avviso a.btn {
    background: #fff;
    color: #f00;
    border: 2px solid #f00;
}

.annfu_annuncio_streaming_avviso a.btn:hover {
    background: #ffd6d6;
    color: #f00;
    border: 2px solid #f00;
}

.annfu_annuncio_streaming_avviso .streaming-play-icon {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 21px;
    padding-left: 2px;
    border: 2px solid #f00;
    color: #f00;
    border-radius: 100%;
}

.annfu_annuncio_streaming_avviso a.annfu_registrazione_funerale {
    color: #f00;
}


/*annuncio\social*/
.annfu_social {
    margin-top: 20px;
}

.annfu_social a {
    display: inline-block;
}

.annfu_social i {
    height: 32px;
    width: 32px;
    margin: 0 5px;
    border-color: #888;
    background: #b2b2b2;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
}

.annfu_social .fa-whatsapp:hover {
    border-color: #43d854;
    background: #43d854;
}

.annfu_social .fa-facebook:hover {
    border-color: #4c71bc;
    background: #4c71bc;
}

.annfu_social .fa-x-twitter:hover {
    border-color: #000;
    background: #000;
}

.annfu_social .fa-google-plus:hover {
    border-color: #d34836;
    background: #d34836;
}

.annfu_social .fa-envelope-o:hover {
    border-color: #3388ff;
    background: #3388ff;
}

.annfu_social .fa-print:hover {
    border-color: #d24663;
    background: #d24663;
}

.annfu_social .fa-newspaper-o:hover {
    border-color: #35465c;
    background: #35465c;
}

/*annuncio\tabs*/
#annfu_tabs {
    margin: 2rem 0 0;
}

#annfu_tabs li {
    padding: 0;
}

#annfu_tabs .active {
    border-bottom-color: transparent !important;
}

#annfu_form_cordoglio_wrapper .tab-pane {
    margin: 1em 0;
}

/*annuncio\cordogli*/

#annfu_form_cordoglio input {
    margin-bottom: 2px;
}

#annfu_form_cordoglio #annfu_testo {
    width: 100%;
    height: 100px;
    padding: .5em 1em;
    border: 1px solid #d2d2d2;
}

#annfu_form_cordoglio .controllato.error {
    border-color: #f00;
}

.annfu_invio {
    width: 100%;
}

#annfu_grazie h4 {
    color: #616161;
}

.annfu_sms_utente {
    margin-bottom: 2em;
}

.annfu_partecipazioni_wrapper {
    margin: 1em 0;
    padding: 1em;
}

.annfu_cordogli {
    margin: 1em 0;
}

.annfu_cordoglio {
    margin-top: .5em;
    margin-bottom: 1.5em;
    padding: 1em;
    box-shadow: 2px 2px 10px #d2d2d2;
}

.annfu_cordoglio_in_approvazione {
    background: rgba(165, 157, 219, .15)
}

.annfu_cordoglio_non_visibile {
    color: #616161;
}

.annfu_cordoglio_intestazione {
    padding-bottom: .3em;
}

.annfu_cordoglio_intestazione strong {
    color: #616161;
}

.annfu_cordoglio_testo {
    margin: 0 0 1em;
}

.annfu_data_cordoglio {
    font-size: .9em;
}

/*annncio\foto cordogli*/
.annfu_verificato {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #9ac9b5;
    color: #fff;
}

.annfu_non_verificato {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #eb8181;
    color: #fff;
}

#annfu_form_foto .dz-clickable {
    border: 1px solid #d2d2d2;
    background: url(../img/drag-and-drop.png) no-repeat center;
}

#annfu_form_foto .dz-clickable:hover {
    background-color: rgba(154, 201, 181, .3);
}

#annfu_form_foto .dz-preview {
    border-radius: 10px;
}

#annfu_form_foto .dz-image {
    height: auto;
    border-radius: 10px;
}

#annfu_form_foto .dz-didascalia {
    padding: 5px 10px;
    background: #d2d2d2;
    line-height: 1;
}

#annfu_form_foto .dz-error-message {
    top: 150px;
}

#annfu_form_foto.annfu_form_cordoglio textarea {
    width: 100%;
    min-height: 50px;
    padding: 9px 10px 7px;
    border: 0;
}

#annfu_form_foto .dz-remove {
    color: #c00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#annfu_form_foto .dz-remove:hover {
    background: #c00;
    color: #fff;
}

.annfu_foto_cordogli_wrapper {
    margin: 2em 0;
    padding: 1em 3em;
    background: #f9f9f9;
    overflow: auto;
}

.annfu_foto_cordogli figure {
    position: relative;
    margin: 0;
    margin-right: 1em;
}

.annfu_foto_cordogli figure:last-child {
    margin: 0;
}

.annfu_foto_cordogli img {
    display: block;
    max-height: 200px;
}

.annfu_foto_cordogli figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    opacity: 0;
}

.annfu_foto_cordogli figure:hover figcaption {
    opacity: 1;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.annfu_foto_cordogli_invito {
    margin-top: 2.5rem;
    text-align: center;
}

.annfu_foto_cordogli_invito_senza_foto {
    text-align: center;
}

#annfu_lightbox.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding: 1rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9);
}

#annfu_lightbox .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 800px;
}

#annfu_lightbox .annfu_slide {
    display: none;
}

#annfu_lightbox .annfu_slide figure {
    margin: 0;
    border: 3px solid #fff;
}

#annfu_lightbox .annfu_image_slide {
    width: 100%;
    height: 100%;
}

#annfu_lightbox .annfu_slide figcaption {
    padding: 1em;
}

#annfu_lightbox .close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    opacity: 1;
}

#annfu_lightbox .close:hover,
#annfu_lightbox .close:focus {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

#annfu_lightbox .previous,
#annfu_lightbox .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 20px 20px 0;
    user-select: none;
    -webkit-user-select: none;
}

#annfu_lightbox .next {
    right: 0;
    border-radius: 20px 0 0 20px;
}

#annfu_lightbox .previous:hover,
#annfu_lightbox .next:hover {
    background-color: #fff;
}

/*annuncio\fiori*/
.annfu_fiori {
    margin-top: 1em;
}

.annfu_fiori_wrapper {
    margin: 0 0 1em 0;
}

.annfu_fiori_wrapper.scroll {
    max-height: 410px;
    overflow: auto;
    padding: 5px;
    border: 1px solid #d2d2d2;
}

.annfu_fiori .annfu_group {
    margin-top: .5em;
}

.annfu_fiore, .annfu_ricordo_floreale {
    height: 100%;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 5px;
}

.annfu_fiore:hover, .annfu_ricordo_floreale:hover {
    background: #efefef;
}

.annfu_fiore.checked, .annfu_ricordo_floreale.checked {
    position: relative;
    background: #d2d2d2;
    border-radius: 5px;
}

.annfu_fiore_scegli, .annfu_ricordo_floreale_scegli {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.annfu_fiore input, .annfu_ricordo_floreale input {
    display: none;
}

.annfu_fiori_totale {
    font-size: 150%;
    font-weight: bold;
    line-height: 45px;
}

#annfu_fiori_form small {
    display: block;
    line-height: 1.25;
}

.annfu_fiore label, .annfu_ricordo_floreale label {
    width: 100%;
    cursor: pointer;
}

.annfu_fiore.checked:after, .annfu_ricordo_floreale.checked:after {
    visibility: visible;
    position: absolute;
    top: 10%;
    right: 16px;
    margin-top: -14px;
    color: #d2d2d2;
    font: 28px FontAwesome;
    content: "\f046";
}

.annfu_fiore.checked *, .annfu_ricordo_floreale.checked * {
    color: #fff;
}

.annfu_fiore.checked .annfu_fiore_img_wrapper, .annfu_ricordo_floreale.checked .annfu_ricordo_floreale_img_wrapper {
    border: 2px solid #d2d2d2;
}

.annfu_fiore_img_wrapper, .annfu_ricordo_floreale_img_wrapper {
    float: none;
    width: 100%;
    height: 200px;
    margin-right: 10px;
    border: 2px solid #dedede;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.annfu .annfu_fiore_dettagli, .annfu .annfu_ricordo_floreale_dettagli {
    display: none !important;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    background: rgba(255, 255, 255, .75);
    color: #000;
    text-align: center;
    cursor: pointer;
}

.annfu_fiore_img_wrapper:hover .annfu_fiore_dettagli,
.annfu_ricordo_floreale_img_wrapper:hover .annfu_ricordo_floreale_dettagli {
    display: block !important;
    text-decoration: none;
}


.annfu_fiore img, .annfu_ricordo_florale img {
    max-width: 100%;
    vertical-align: middle;
}

.annfu_ricordo_floreale_disclaimer {
    font-size: 90%;
}

#annfu_fiore_testo_fascia {
    width: 100%;
    min-height: 45px;
    padding: 8px 15px;
    border: 1px solid #d2d2d2;
    resize: none;
}

#annfu_fiore_quantita {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #d2d2d2;
}

.annfu_fiore_grande {
    max-width: 400px;
    max-height: 50vh;
    margin: 0 auto 10px;
}

#annfu_fiori_avanzamento, #annfu_ricordo_floreale_avanzamento {
    display: none;
    margin: 10px 0 0;
}

#annfu_fiore_testo_fascia_wrapper {
    display: none;
}

.annfu .annfu_label_privacy {
    display: inline;
}

.annfu_persona_g {
    display: none;
}

.annfu_totale_riepilogo strong, #annfu_paga strong, .annfu_fiori_totale {
    color: #666;
}

.annfu_totale_fiore_fiore {
    float: left;
    width: 50px;
    margin-right: 10px;
    border: 2px solid #d2d2d2;
}

.annfu_totale_fiore, .annfu_totale_testo_fascia, .annfu_totale_testo_biglietto, .annfu_totale_dati, .annfu_totale_note {
    word-wrap: break-word;
}

.annfu_totale_dati_mittente, .annfu_totale_dati_pagamento {
    margin-top: 10px;
}

#annfu_totale_ordine {
    display: none;
}

.annfu_goto {
    margin: 0;
    padding: .5em 1em;
}

#annfu_paga, #annfu_ricordo_floreale_paga {
    clear: both;
    margin-top: 1em;
    display: none;
}

#annfu_paga_modalita_pagamento {
    margin-top: 1em;
}

.annfu_fiore_prezzo, .annfu_ricordo_floreale_prezzo {
    color: #616161;
}

.annfu_invio {
    width: auto;
}

.annfu_fiori_totale, .annfu_riepilogo_ricordo_floreale_totale {
    color: #616161;
    font-size: 100%;
}

.annfu_totale_fiore,
.annfu_totale_testo_fascia,
.annfu_totale_testo_biglietto,
.annfu_totale_dati {
    display: none;
}

#annfu_paga .annfu_totale_fiore,
#annfu_paga .annfu_totale_testo_fascia,
#annfu_paga .annfu_totale_testo_biglietto,
#annfu_paga .annfu_totale_dati {
    display: block;
}

#annfu_paga .annfu_totale_fiore img {
    width: auto;
    height: 250px;
}

.annfu_fiore.checked h5, .annfu_ricordo_floreale.checked h5,
.annfu_fiore.checked strong, .annfu_ricordo_floreale.checked strong {
    color: #fff;
}

.annfu_ricordo_floreale.checked a,
.annfu_ricordo_floreale.checked a i {
    color: #616161;
}

.annfu_riepilogo_ricordo_floreale_totale_ordine {
    font-weight: bold;
}

.annfu_riepilogo_ricordo_floreale_composizione,
.annfu_riepilogo_ricordo_floreale_biglietto,
.annfu_riepilogo_ricordo_floreale_dati {
    display: none;
}

#annfu_ricordo_floreale_paga div {
    display: block;
}

#annfu_ricordo_floreale_paga img {
    width: auto;
    height: 250px;
}


.annfu_btn_paypal {
    margin-top: 15px;
    border-color: #012169;
    background: #003087;
    color: #fff;
}

.annfu_btn_paypal:hover {
    border-color: #003087;
    background: #009cde;
    color: #fff;
}

/*annuncio\opere bene*/
.annfu_opera_bene {
    margin: 1em 0;
}

.annfu_opera_bene_logo {
    float: left;
    width: 150px;
    margin: 0 10px 5px 0;
    border: 2px solid #d2d2d2;
}

.annfu_opera_bene_descrizione {
    text-align: justify;
}

.annfu_opera_bene_paypal a {
}

/*streaming*/

.annfu_player {
    max-width: 720px;
    height: 405px;
    margin: 0 auto;
}

.annfu_player > div {
    margin: 2rem auto;
    max-width: 720px;
    max-height: 405px;
}

.annfu .annfu_streaming_login {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    padding: 2em;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, .5);
    z-index: 1060;
    box-shadow: 10px 10px 10px #666;
}

.annfu .annfu_streaming_login .help-block {
    text-shadow: 1px 1px 5px #fff;
}

.annfu .annfu_ricarica_pagina {
    margin: 2rem 0;
}

.annfu .annfu_streaming_info_play {
    margin: 2em 0;
}

.annfu .annufu_streaming_testo {
    margin: 2em 0;
}

.annfu .annfu_streaming .container {
    margin: 0;
    padding: 0;
}

.annfu .annfu_streaming .container [data-html5-video] {
    position: relative;
}

.annfu_streaming_player_wrapper {
    position: relative;
    width: 100%;
    height: 405px;
    max-width: 720px;
    margin: 0 auto;
}

.annfu_streaming_player_sfondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px #333;
    z-index: 1050;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.annfu_streaming_player_sfondo h2 {
    margin-top: 5em !important;
    font-size: 2.5em !important;
    color: #fff;
}

.annfu_streaming_player_sfondo p {
    margin-top: 1em !important;
    font-size: 2em !important;
}

#annfu_streaming_funerale_youtube {
    max-width: 720px;
}

/*annuncio\testi default*/
.annfu_testo_default {
    margin: .5em 0;
    padding: .2em 0;
    border-bottom: 1px solid #f2f2f2;
}

.annfu_poweredby {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ccc;
}

.annfu_poweredby a {
    padding: .5em 0;
    color: #aaa;
}

.annfu_checkbox {
    display: inline !important;
    width: auto !important;
    height: auto !important;
}

.annfu_error {
    color: #c00;
}

.annfu_success {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #9ac9b5;
    color: #fff;
}

.annfu_pointer {
    cursor: pointer;
}

.annfu_text_left {
    text-align: left;
}

.annfu_text_center {
    text-align: center;
}

.annfu_text_right {
    text-align: right;
}

.annfu_text_justify {
    text-align: justify;
}

/*admin*/
.annfu_form_wrap {
    margin-right: 1em;
}

.annfu_form_wrap .tab-panepanel-group {
    padding: 1em .5em;
}

.annfu_form_wrap .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
}

.annfu_form_wrap .annfu_form_row {
    margin: 0 0 5px 0;
}

.annfu_form_wrap .annfu_form_row span.annfu_helper {
    margin-left: 10px;
}

.annfu_form_wrap #annfu_textarea {
    display: none;
}

.annfu_form_wrap .ace_editor {
    min-height: 400px;
}

.annfu_code {
    display: inline;
    padding: 5px 10px;
    border: 1px solid #aaa;
    background: #ddd;
    color: #333;
}

#annfu_struttura {
    border: 1px solid #ccc;
    background: #dedede;
}

#annfu_struttura span {
    padding: 5px;
    background: #fd0;
}

#annfu_options_reset {
    line-height: 200%;
}

#annfu_carousel .carousel-control.left,
#annfu_carousel .carousel-control.right {
    background-image: none;
}

#annfu_carousel .annfu .carousel-control-prev,
#annfu_carousel .annfu .carousel-control-next {
    width: 20px;
}

#annfu_carousel .annfu_ribbon_ringraziamento_wrapper {
    top: inherit;
    left: inherit;
}

#annfu_carousel .annfu_ribbon_anniversario_wrapper {
    top: inherit;
    right: 15px;
}

#annfu_carousel .annfu_nominativo {
    min-height: 4em;
    margin-top: 10px;
}

#annfu_download_pwa_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    background: #000;
    z-index: 9999;
}

#annfu_close_pwa {
    margin-left: 1rem;
    color: #fff;
}

#annfu_allow_notifications_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    background: #000;
}

#annfu_allow_notifications {
    padding: 5px 10px;
    border: 2px solid #7a7a7a;
    border-radius: 20px;
    background: #fff;
    color: #7a7a7a;
}


/*personalizzazione benedetto*/
.impresa-11 .annfu_annunci_casa_funeraria {
    color: #fff;
    background: #1a4175;
}

.impresa-11 .annfu_annunci_casa_funeraria_no {
    display: block;
}

@media screen and (min-width: 576px) {
    .annfu_ritorna_annunci {
        margin-bottom: 1rem !important;
    }

    .annfu_poweredby {
        position: relative;
        text-align: left !important;
    }
}

@media screen and (min-width: 768px) {
    #annfu_annunci_filter.annfu_annunci_filter_back .row {
        margin-bottom: 0;
    }

    #annfu_annunci_filter.annfu_annunci_filter_back .row div {
        margin-bottom: .5em;
    }
}

@media screen and (min-width: 992px) {
    #annfu_tabs {
        margin-top: 0;
    }

    .annfu .annfu_streaming_login label {
        font-size: 1.5em;
    }

    #annfu_download_pwa_wrapper {
        display: none;
    }
}

@media (display-mode: standalone) {
    #annfu_download_pwa_wrapper {
        display: none;
    }
}