.impresa-concordia.annfu a {
    color: inherit;
}

.impresa-concordia #annfu_annunci_filter,
.impresa-concordia #annfu_annunci > .row {
    max-width: 1250px;
    margin: 0 auto;
}

.impresa-concordia .form-control {
    max-width: 100%;
}

.impresa-concordia .annfu_filter_field {
    padding: 0 25px;
}

.impresa-concordia .annfu_filter_submit {
    height: auto;
    padding: .25rem 3rem !important;
    font-size: .75rem;
    border-radius: 14px;
}

.impresa-concordia .annfu_tabs {
    width: 100%;
    margin: 0 0 5rem;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
}

.impresa-concordia .annfu_tabs li {
    position: relative;
    top: 1px;
    display: inline;
    margin: 0 .125rem -1px;
    padding: 1px 0;
    border: 1px solid #dcdcdc;
    background: #ddd;
}

.impresa-concordia .annfu_tabs li.annfu_active {
    background: transparent;
    border-bottom: 1px solid #eee;
}

.impresa-concordia .annfu_tabs li a {
    padding: .25rem 3rem;
    color: #555;
    font-family: "Jost", Sans-serif;
    font-size: .75rem;
    text-decoration: none;
    text-transform: uppercase;
}

.impresa-concordia .annfu_tabs li.annfu_active a {
    font-weight: bold;
}

.impresa-concordia #annfu_annunci {
    padding-bottom: 2rem;
    border: 0;
    background: transparent;
}

.impresa-concordia .annfu_annunci_container {
    padding: 15px 25px !important;
}

.impresa-concordia .annfu_annunci_wrapper {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(221, 221, 221, 1) 100%);
}

.impresa-concordia .annfu_ribbon_anniversario {
    background-image: linear-gradient(135deg, #80217f 0%, #fff 5%, #511450 10%, #a65b9c 30%, #511450 100%);
    z-index: 1;
}

.impresa-concordia .annfu_annunci_foto_wrapper {
    position: relative;
    width: 60%;
    margin: 2rem auto 1rem;
}

.impresa-concordia .annfu_annunci_foto {
    position: relative;
    z-index: 2;
}

.impresa-concordia .annfu_annunci_foto:before, .impresa-concordia .annfu_annunci_foto:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: -1px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 35px 5px #ccc;
    -moz-box-shadow: 0 35px 5px #ccc;
    box-shadow: 0 35px 5px #ccc;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.impresa-concordia .annfu_annunci_foto:after {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    right: -1px;
    left: auto;
}

.impresa-concordia .annfu_annunci_foto_wrapper img {
    border: 12px solid #fff;
}

.impresa-concordia .annfu_annunci_paese {
    min-height: 1rem;
    margin: 0;
    border-top: 0;
    text-transform: none;
}

.impresa-concordia .annfu_annuncio,
.impresa-concordia .annfu_form_cordoglio_wrapper,
.impresa-concordia .annfu_form_foto_cordoglio_wrapper {
    padding: 80px 0;
}

.impresa-concordia .annfu_annuncio,
.impresa-concordia .annfu_form_cordoglio_wrapper,
.impresa-concordia .annfu_form_foto_cordoglio_wrapper,
.impresa-concordia .annfu_annuncio_info_wrapper .row,
.impresa-concordia .annfu_form_cordoglio_wrapper,
.impresa-concordia .annfu_partecipazioni_cordogli_wrapper .row {
    max-width: 950px;
    margin: 0 auto;
}

.impresa-concordia .annfu_annuncio_wrapper {
    border: 0;
}

.impresa-concordia .annfu_annuncio_foto_wrapper {
    position: relative;
    padding: 2rem 3rem;
    border: 1px solid #dcdcdc;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(221, 221, 221, 1) 100%);
}

.impresa-concordia .annfu_annuncio_foto {
    position: relative;
    margin: 1rem auto;
    z-index: 2;
}

.impresa-concordia .annfu_annuncio_foto:before, .impresa-concordia .annfu_annuncio_foto:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: -1px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 35px 5px #ccc;
    -moz-box-shadow: 0 35px 5px #ccc;
    box-shadow: 0 35px 5px #ccc;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.impresa-concordia .annfu_annuncio_foto:after {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    right: -1px;
    left: auto;
}

.impresa-concordia .annfu_annuncio_foto img {
    border: 12px solid #fff;
}

.impresa-concordia .annfu_annunci_wrapper:hover img, .impresa-concordia .annfu_annunci_wrapper img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.impresa-concordia .annfu_annunci_info_wrapper {
    min-height: 6rem;
}

.impresa-concordia h2.annfu_annunci_nominativo {
    height: auto;
    margin: .5em 0 0;
    font-weight: 800;
    text-transform: none;
}

.impresa-concordia .annfu_annuncio_wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 100%);
}

.impresa-concordia .annfu_annuncio_nominativo {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 2.65rem;
    text-transform: none;
}

.impresa-concordia .annfu_separator {
    width: 15%;
    margin: 0 auto;
    border-bottom: 1px solid #80217E;
}

.impresa-concordia .annfu_annuncio_info_wrapper {
    padding-top: 2rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(221, 221, 221, 1) 100%);
}

.impresa-concordia .annfu_box_info {
    border-bottom: 1px solid #eee;
}

.impresa-concordia .annfu_icon_wrapper {
    width: 20%;
    text-transform: uppercase;
}

.impresa-concordia .annfu_box_info_text {
    width: 80%;
}

.impresa-concordia .icon {
    margin-bottom: .25rem;
    color: #ccc;
    font-size: 2.5rem;
}

.impresa-concordia .annfu_epigrafe{
    padding: 0.25rem 2rem;
    font-size: .75rem;
    border-radius: 14px;
    color: #fff !important;
    background: #80217E;
    font-family: "Jost", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.impresa-concordia .annfu_epigrafe:hover{
    background: #611a5e;
}

.impresa-concordia .annfu_social_wrapper {
    background: #fff;
}

.impresa-concordia .annfu_social {
    margin-top: 0;
    padding-top: 1.5rem;
}

.impresa-concordia #annfu_form_cordoglio_wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(221, 221, 221, 1) 100%);
}

.impresa-concordia #annfu_form_cordoglio_wrapper #annfu_tabs {
    background: #fff;
}

.impresa-concordia #annfu_form_cordoglio_wrapper #annfu_tabs li {
    margin: 0 .125rem;
}

.impresa-concordia #annfu_form_cordoglio_wrapper #annfu_tabs a {
    padding: .25rem 1rem;
    border-bottom: 0 !important;
    font-family: "Jost", Sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
    border-radius: 0;
}

.impresa-concordia #annfu_form_cordoglio_wrapper #annfu_tabs a[aria-selected=true] {
    background: rgba(221, 221, 221, 1);
}

.impresa-concordia #annfu_form_cordoglio_wrapper h4 {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: none;
}

.impresa-concordia #annfu_invio, .impresa-concordia #annfu_foto_invio {
    display: block;
    width: auto;
    margin: 0 auto;
    height: auto;
    padding: .25rem 4rem;
    font-size: .75rem;
    border-radius: 14px;
}

.annfu_partecipazioni_cordogli_wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 70%, rgba(221, 221, 221, 1) 100%);
}

.annfu_partecipazioni_cordogli_wrapper h3 {
    color: inherit;
    font-weight: 800;
    text-transform: none;
}

.impresa-concordia .annfu_cordoglio {
    background: #f3f3f3;
    box-shadow: none;
}

.impresa-concordia .annfu_data_cordoglio {
    background: #ddd;
}

.impresa-concordia .annfu_foto_cordogli_wrapper {
    margin-top: 0;
    padding-top: 0;
}

.impresa-concordia .annfu_paragrafo_form_foto_cordoglio {
    margin-bottom: 3rem;
    text-align: center;
}

.impresa-concordia #annfu_form_foto .dz-clickable:hover {
    background-color: rgba(128, 33, 126, .3);
}

.impresa-concordia .annfu_ritorna_annunci {
    margin: 1rem;
    text-align: center;
}
